
@import url(https://fonts.googleapis.com/css?family=Oswald);

$font-stack: Oswald, Helvetica;
$primary-color: darkslateblue;

h1 {
  color: $primary-color;
  font-family: $font-stack;
}

h2{
  @extend h1
}

body {
  font: 100% Helvetica, sans-serif;
  font-family: 'Helvetica Nue', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: lightcyan;
}

.border {
  padding: 16px / 2;
  margin: 16px / 2;
  border-color: #3bbfce;
}

nav{
  background-color: white;
  margin: 0;
  li{
    display: inline;
  }
  a{
    color: #3bbfce;
    padding: 0.5em;
    text-decoration: none;
    font-size: 20px;
  }
}


.article{
  float: left;
  width: 600px / 960px * 100%;
}

img{
  align:right;
  top: -75px;
}







